body {
  background-color: #ffffff;
  margin: 10;
  font-family: Helvetica, sans-serif;
}

.center {
    margin: 0px auto;
}

.login-blok{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

.control-group {
	white-space: nowrap;
	margin-bottom: 20px;
}

.controls {
	padding: 10px 10px;
	line-height: 15px;
}

.div-submit {
	background-color: #ee9015;
	color: black;
	text-align: center;
	padding: 10px 10px;
	border: 1px solid black;
	border-radius: 10px;
	cursor: pointer;
}

.div-construct-submit{
	background-color: gray;
	color: black;
	text-align: center;
	padding: 10px 10px;
	border: 1px solid black;
	border-radius: 10px;
	cursor: pointer;
	width: 300px;
}

.link-construct {
	background-color: #ee9015;
	color: black;
	text-align: center;
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
	height: 40px;
	text-decoration: none;
}
.link-construct:active{
	color: black;
}
.link-construct:hover{
	color: black;
}
.link-construct:visited {
	color: black;
}
.div-link-construct{
	height: 40px;
}

.control-label {
	display:inline-block;
    width:100px;
	margin-right: 10px;
}

.link-block {
	background-color: #ee9015;
	text-align: center;
	color: black;
	padding: 10px 10px;
	border: 1px solid black;
	text-decoration: none;
	border-radius: 10px;
	display: block;
}

.menu-link-block {
	background-color: #ee9015;
	text-align: center;
	color: black;
	padding: 40px 10px 40px 10px;
	border: 1px solid black;
	text-decoration: none;
	border-radius: 10px;
	display: block;
	width:500px;
    height: 20px;
    font-size: 20px;
    margin: 0px auto;
}

.course-link-block {
	background-color: #ffffff;
	text-align: center;
	color: black;
	padding: 40px 10px 40px 10px;
	border: 1px solid #ee9015;
	text-decoration: none;
	border-radius: 10px;
	display: block;
	width: 200px;
    height: 20px;
    font-size: 20px;
}

.course-link-block-active {
	background-color: #ee9015;
	text-align: center;
	color: black;
	padding: 40px 10px 40px 10px;
	border: 1px solid black;
	text-decoration: none;
	border-radius: 10px;
	display: block;
	width: 200px;
    height: 20px;
    font-size: 20px;
}

.course-link-block-unactive {
	background-color: #d7d7d7;
	text-align: center;
	color: black;
	padding: 40px 10px 40px 10px;
	border: 1px solid #ee9015;
	text-decoration: none;
	border-radius: 10px;
	display: block;
	width: 200px;
    height: 20px;
    font-size: 20px;
}

.back-link-block {
	background-color: gray;
	text-align: center;
	color: black;
	padding: 10px 10px;
	border: 1px solid black;
	text-decoration: none;
	border-radius: 10px;
	width:200px;
	display: block;
}

.label-div {
	background-color: #ee9015;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	color: black;
	padding: 10px 10px;
}

.login-logo {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.q-logo {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
}

.bool_switcher_off{
	width: 150px;
	height: 51px;
	background:url('../img/on_off.png') 0 0;
}

.bool_switcher_off_light{
	width: 150px;
	height: 51px;
	background:url('../img/on_off.png') 0 -106px;
}

.bool_switcher_on{
	width: 150px;
	height: 51px;
	background:url('../img/on_off.png') 0 -159px;
}

.bool_switcher_on_light{
	width: 150px;
	height: 51px;
	background:url('../img/on_off.png') 0 -53px;
}

.iterate_switcher_stop{
	display: inline-block;
	vertical-align: middle;
	width: 80px;
	height: 80px;
	background:url('../img/play_stop.png') 0 0;
}

.iterate_switcher_play{
	display: inline-block;
	vertical-align: middle;
	width: 80px;
	height: 80px;
	background:url('../img/play_stop.png') 0 -82px;
}

.ul_switcher {
    padding: 0;
    border: 0;
    font-size: 0;
}

.li_switcher {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.switcher_space{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	width: 15px;
	height: 35px;
}

.switcher_center{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	width: 30px;
	height: 35px;
	background:url('../img/switcher_center.png') 0 0;
}

.switcher_center_on{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	width: 30px;
	height: 35px;
	background:url('../img/switcher_center.png') 0 -36px;
}

.switcher_left{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	width: 30px;
	height: 35px;
	background:url('../img/switcher_left.png') 0 0;
}

.switcher_left_on{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	width: 30px;
	height: 35px;
	background:url('../img/switcher_left.png') 0 -36px;
}

.switcher_right{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	width: 32px;
	height: 35px;
	background:url('../img/switcher_right.png') 0 0;
}

.switcher_right_on{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	width: 32px;
	height: 35px;
	background:url('../img/switcher_right.png') 0 -36px;
}

.switcher_minus{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	width: 35px;
	height: 35px;
	background:url('../img/switcher_minus.png') 0 0;
}

.switcher_minus_on{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	width: 35px;
	height: 35px;
	background:url('../img/switcher_minus.png') 0 -36px;
}

.switcher_plus{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	width: 35px;
	height: 35px;
	background:url('../img/switcher_plus.png') 0 0;
}

.switcher_plus_on{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	width: 35px;
	height: 35px;
	background:url('../img/switcher_plus.png') 0 -36px;
}

.switcher_value{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 200px;
	height: 35px;
	border: 1px solid black;
	border-radius: 15px;
	font-size: 32px;
	font-variant: normal;
    font-style: normal;
    color: -webkit-text;
    font-family: Helvetica, sans-serif;
}

.online_value{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 200px;
	height: 75px;
	border: 1px solid black;
	border-radius: 15px;
	font-size: 32px;
	font-variant: normal;
    font-style: normal;
    color: -webkit-text;
    font-family: Helvetica, sans-serif;
}

.table-question{
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.td-question{
	border: 1px solid black;
	width: 1000px;
	height: 400px;
	border-radius: 10px;
}

.table-course{
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.td-course{
	border: 1px solid black;
	width: 1000px;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
}

.td-answer{
	margin: 20px;
}

.div-answer-submit{
	background-color: #ee9015;
	color: black;
	width: 200px;
	text-align: center;
	padding: 10px 10px;
	border: 1px solid black;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	margin-top: 30px;
}

.td-prew{
	width: 50px;
}

.td-next{
	width: 50px;
}

.question{
	margin: 10px;
	margin-left: 40px;
	font-size: 25px;
}

.table-answer{
    margin-top: 30px;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto
}

.time-table{
	width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ee9015;
    border-collapse: collapse;
}

.table-construct{
	width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.td-construct{
	width: 450px;
}

.time-tr-head{
	height: 50px;
    border: 1px solid #ee9015;
}

.time-td-head{
	text-align: center;
    border: 2px solid #ee9015;
}

.time-tr-body1{
	background-color: #d7d7d7;
	height: 50px;
    border: 1px solid #ee9015;
}

.time-tr-body2{
	background-color: #e6c191;
	height: 50px;
    border: 1px solid #ee9015;
}

.time-tr-body3{
	height: 50px;
    border: 1px solid #ee9015;
}

.time-td-body{
	text-align: center;
    border: 2px solid #ee9015;
}

.timetable-link{
	text-decoration: none;
	color: black;
}

.timetable-link:active{
	color: black;
}

.timetable-link:hover{
	color: black;
}

.timetable-link:visited {
	color: black;
}

.menu-logo {
    margin-top: 10px;
    align: center;
    display: block;
    width: 300px;
}

.main-menu-head {
    margin: 30px;
    width: 100%;
}

.main-table {
    text-align: center;
    margin: 50px;
}

.date {
    border: 1px solid #ee9015;
    border-radius: 10px;
    text-align: center;
    color: black;
    width: 150px;
    height: 40px;
    padding: 10px;
    display: inline-block;
    margin: 70px;
}

.number {
    border: 1px solid #ee9015;
    border-radius: 10px;
    text-align: center;
    color: black;
    width: 150px;
    height: 40px;
    display: inline;
}

.fio {
    border: 1px solid #ee9015;
    border-radius: 10px;
    text-align: left;
    color: black;
    width: 90%;
    height: 100px;
    margin-top: 10px;
    padding: 20px;
    font-size: 20px;
    line-height: 1.5;
}

.table-head {
    width: 70%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.td-left {
    text-align: left;
    padding: 5px;
}

.td-right {
    text-align: right;
    padding: 5px;
}

.td-center {
    text-align: center;
    padding: 5px;
}

.head-date {
    border: 1px solid #ee9015;
    border-radius: 10px;
    text-align: center;
    color: black;
    width: 150px;
    height: 40px;
    padding: 10px;
    display:inline-block;
}

.table-course-menu {
    width: 70%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.errorlist {
	margin-top: 5px;
}

