body {
  background-color: #ffffff;
  margin: 10;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

.center {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.control-group {
	white-space: nowrap;
	margin-bottom: 20px;
}

.controls {
	padding: 10px 10px;
	line-height: 15px;
}

.div-submit {
	background-color: #ee9015;
	color: black;
	text-align: center;
	padding: 10px 10px;
	border: 1px solid black;
	border-radius: 10px;
	cursor: pointer;
}

.control-label {
	display:inline-block;
    width:100px;
	margin-right: 10px;
}

.link-block {
	background-color: #ee9015;
	text-align: center;
	color: black;
	padding: 10px 10px;
	border: 1px solid black;
	text-decoration: none;
	border-radius: 10px;
	display: block;
}

.menu-link-block {
	background-color: #ee9015;
	text-align: center;
	color: black;
	padding: 40px 10px 40px 10px;
	border: 1px solid black;
	text-decoration: none;
	border-radius: 10px;
	display: block;
	width:500px;
    height: 20px;
    font-size: 20px;
}

.back-link-block {
	background-color: gray;
	text-align: center;
	color: black;
	padding: 10px 10px;
	border: 1px solid black;
	text-decoration: none;
	border-radius: 10px;
	width:200px;
	display: block;
}

.label-div {
	background-color: #ee9015;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	color: black;
	padding: 10px 10px;
}

.login-logo {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.menu-logo {
    margin-top: 10px;
    align: center;
    display: block;
}

.main-menu-head {
    margin: 50px;
}

.main-table {
    text-align: center;
    margin: 50px;
}

.date {
    border: 1px solid #ee9015;
    border-radius: 10px;
    text-align: center;
    color: black;
    width: 150px;
    height: 40px;
    position: relative;
    top: -70px;
    right: -90%;
    padding: 10px;
}

.fio {
    border: 1px solid #ee9015;
    border-radius: 10px;
    text-align: center;
    color: black;
    width:300px;
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    top: -50px;
}

.errorlist {
	margin-top: 5px;
}

