{% load main_tags %}
<script>
$(function(){
	$('#chart_container{{ ctl.id }}').highcharts({
		chart: {
			type: {% if ctl.param3 == 'diagram' %}'column'{% else %}'line'{% endif %}
		},
		title: {
			text: ''
		},
		xAxis: {
			title: {
				text: 'Время'
			}
		},
		yAxis: {
			title: {
				text: 'Влт'
			}
		},
		series: [{
			name: 'Напряжение',
			data: [{{ value|data_to_chart }}]
			},]
		});
});
</script>

<h3>{{ ctl.name }}</h3>
<div id="chart_container{{ ctl.id }}" class="chart_container"></div>
