{% load main_tags %}
<script>
$(function(){
	$('#chart_container{{ ctl.id }}').highcharts({
		chart: {
			type: {% if ctl.param3 == 'diagram' %}'column'{% else %}{% if ctl.param3 == 'pie' %}'pie'{% else %}'line'{% endif %}{% endif %}
		},
		title: {
			text: ''
		},
		xAxis: {
			title: {
				text: '{{ ctl.param2|chart_x|safe }}'
			}
		},
		yAxis: {
			title: {
				text: '{{ ctl.param2|chart_y|safe }}'
			}
		},
		series: [{
			name: '{{ ctl.param2|chart_name|safe }}',
			data: [{{ value|data_to_chart }}]
			},]
		});
});
</script>

<h3>{{ ctl.name|safe }}</h3>
<div id="chart_container{{ ctl.id }}" class="chart_container"></div>
