{% load staticfiles %}
<link type="text/css" href="{% static 'js/formstyler/' %}jquery.formstyler.css" rel="stylesheet" />
<link type="text/css" href="{% static 'js/ui/' %}jquery-ui.css" rel="stylesheet" />

<script type="text/javascript" src="{% static 'js/' %}jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{% static 'js/' %}jquery-1.11.3.js"></script>
<script type="text/javascript" src="{% static 'js/ui/' %}jquery-ui.js"></script>
<script type="text/javascript" src="{% static 'js/ui/' %}jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static 'js/ui/' %}jquery-ui-i18n.min.js"></script>
<script type="text/javascript" src="{% static 'js/formstyler/' %}/jquery.formstyler.js"></script>

<script>
(function($) {
	$(function() {
		$('input, select').styler({
			selectSearch: true
		});
	});
})(jQuery);
</script>

<h3>{{ ctl.name }}</h3>
<div style="display: table-cell; vertical-align: middle;">	
	<input class="styler" readonly id="input_param{{ ctl.id }}" value="{{ value }}" type="text" style="height: 40px;"/>
</div>