{% extends "base.html" %}
{% block menu %}
	{% block head_course %}
	<table class="menu-head">
		<tr>
			<td class="td-left">
				<div class="control-group">
			        <a class="back-link-block" href="/timetable/">Возврат в рассписание<br>лабораторных работ</a>
			    </div>
			</td>
			<td class="td-right">
				<span>Лабороаторная работа № </span><div style="display: inline-block; vertical-align: middle;"><div class="number">{{ id }}</div></div>
			</td>
	    	<td class="td-right">
	    		<div class="date">{{ date }}<br>{{ time }}</div>
	    	</td>
	    </tr>
	</table>
	{% endblock %}
	{% block cource_menu %}
	<table class="table-course-menu">
		<tr>
			<td class="td-center">
				<div class="control-group">
			        <a class="course-link-block{% if input_control %}-active{% endif %}" href="/input_control/{{ id }}/1/">Входной контроль</a>
			    </div>
			</td>
			<td class="td-center">
				<div class="control-group">
					{% if uallowance.construct %}
			        <a class="course-link-block{% if workplace_construct %}-active{% endif %}" href="/workplace_construct/{{ id }}/">Сборка стенда</a>
			        {% else %}
			        <div class="course-link-block-unactive">Сборка стенда</div>
			        {% endif %}
			    </div>
			</td>
			<td class="td-center">
				<div class="control-group">
					{% if uallowance.course_start %}
			        <a class="course-link-block{% if course %}-active{% endif %}" href="/course/{{ id }}/">Выполнение работы</a>
			        {% else %}
			        <div class="course-link-block-unactive">Выполнение работы</div>
			        {% endif %}
			    </div>
			</td>
			<td class="td-center">
				<div class="control-group">
					{% if uallowance.report %}
			        <a class="course-link-block{% if report %}-active{% endif %}" href="/report/{{ id }}/">Отчет</a>
			        {% else %}
			        <div class="course-link-block-unactive">Отчет</div>
			        {% endif %}
			    </div>
			</td>
	    </tr>
	</table>
	{% endblock %}
{% endblock %}