{% extends "base_course.html" %}
{% block title %}Выполнение лабораторной работы{% endblock %}
{% block main %}
<table class="table-construct">
    <tr>
		<td class="td-construct">
			<div class="div-link-construct"><a class="link-construct" href="/method/{{ id }}/">Методические материалы</a></div>
		</td>
		<td class="td-construct">
			<div class="div-link-construct"><a class="link-construct" href="/method/{{ id }}/">Помощь преподователя</a></div>
		</td>
	</tr>
</table>

<table class="table-course">
	<tr>
		<td class="td-course">
		{% include "controls/text.html" %}
		</td>
    </tr>
    <tr>
		<td class="td-course">
		{% include "controls/img.html" %}
		</td>
    </tr>
    <tr>
		<td class="td-course">
		{% include "controls/analog_table.html" with url="http://46.48.44.5/do?format=json&uid=5&n=" rows=rows row_cnt=row_cnt %}
		</td>
    </tr>
    <tr>
		<td class="td-course">
		{% include "controls/onlineparam.html" with url="http://46.48.44.5/do?format=json&uid=1" %}
		</td>
    </tr>
    <tr>
		<td class="td-course">
		{% include "controls/bool.html" with url="http://46.48.44.5/do?format=json&uid=7" %}
		</td>
    </tr>
    <tr>
		<td class="td-course">
		{% include "controls/diagram.html" with url="http://46.48.44.5/do?format=json&uid=1&n=50" %}
		</td>
    </tr>
    <tr>
		<td class="td-course">
		{% include "controls/select.html" with url="http://46.48.44.5/do?format=json&uid=17" %}
		</td>
    </tr>
</table>
{% endblock %}