{% extends "base.html" %}
{% block title %}Главное меню{% endblock %}
{% block main %}
{% load staticfiles %}

<table class="menu-head">
	<tr>
		<td>
			<img class="menu-logo" src="{% static 'img/logo.png' %}" alt="logo"/>
		</td>
		<td valign = top style="text-align: right;">
			<div class="date">{{ date }}<br>{{ time }}</div>
		</td>
	<tr>
		<td>
			<div class="fio">{{ first_name }}<br>{{ last_name }}<br>Тип пользователя: Студент</div>
		</td>
		<td valign = top style="text-align: right;">
			<div class="control-group">
				<a class="logout-link-block" href="/logout/">Выйти</a>
			</div>
		</td>
	</tr>
</table>

<div class="center">
	<div class="control-group">
        <a class="menu-link-block" href="/timetable">Расписание лабораторных работ</a>
    </div>
    <div class="control-group">
        <a class="menu-link-block" href="/media_course">Полный мультимедийный курс по лаборатории</a>
    </div>
</div>

<div style="position: absolute; bottom: 30px; left: 48%;">
	<b>Скачать приложение для сборки стендов и выполнения тренингов</b>
	<a href="{% static 'distr/Setup.exe' %}">
		<img src="{% static 'img/button_download.png' %}" alt="download"/>
	</a>
</div>
{% endblock %}
