{% extends "base.html" %}
{% block title %}Мультимедийный курс{% endblock %}
{% block main %}
<table class="main-menu-head">
	<tr>
		<td>
			<div class="control-group">
		        <a class="back-link-block" href="/main_menu">Возврат в главное меню</a>
		    </div>
	    </td>
	    <td valign = top style="text-align: right;">
			<div class="date">{{ date }}<br>{{ time }}</div>
		</td>
	</tr>
</table>
<table class="table-question">
	{% for row in db %}
	<tr>
		<td class="td-question">
			<div class="question">{{ row.text_question|safe }}</div>
		</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}