{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{% block main %}
<div class="center">
    <form action="" name="register-form" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="control-group">
        	<label class="control-label" style="width: 200px;" for={{ field.id_for_label }}><div class="label-div">{{ field.label }}</div></label>
        	<input class="controls" type="text" id={{ field.id_for_label }} name={{ field.html_name }}>
        	{{ field.errors }}
        </div>
	    {% endfor %}
	    <div class="control-group">
        	<div class="div-submit" onClick="javascript:document.forms[0].submit();">Зарегистрироваться</div>
    	</div>
    </form>
</div>
{% endblock %}