{% extends "base_course.html" %}
{% block title %}Отчет по лабораторной работе{% endblock %}
{% block main %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/' %}jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script>

<table class="table-construct">
    <tr>
		<td class="td-construct">
			<div class="div-link-construct"><a class="link-construct" href="/method/{{ id }}/">Методические материалы</a></div>
		</td>
		<td class="td-construct">
			<div class="div-link-construct"><a class="link-construct" href="/method/{{ id }}/">Помощь преподавателя</a></div>
		</td>
	</tr>
</table>

<div class="main_course">
{% for control in controls %}
	<div class="main_control">
	{% if control.field.type.code %}
	    {% with template_name=control.field.type.code|stringformat:"s"|add:".html" %}
	    	{% include "rep_controls/"|add:template_name with ctl=control.field value=control.value %}
	    {% endwith %}
	{% endif %}
	</div>
{% endfor %}
</div>

{% endblock %}
