{% extends "base.html" %}
{% block title %}Отчет по по тренингу{% endblock %}
{% block main %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/' %}jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script>

<table class="table-construct">
    <tr>
		<div class="control-group">
	        <a class="back-link-block" href="/course_usg_view">Отчеты по тренингам</a>
	    </div>
	</tr>
</table>

<div class="main_course">
{% for string in data %}
	<div>
		<span>
		{{ string }}
		</span>
	</div>
{% endfor %}
</div>

{% endblock %}
