{% extends "base.html" %}
{% block title %}Рассписание лабораторных{% endblock %}
{% load staticfiles %}
{% block main %}
<table class="menu-head">
	<tr>
		<td>
			<div class="control-group">
		        <a class="back-link-block" href="/main_menu">Возврат в главное меню</a>
		    </div>
	    </td>
	    <td valign = top style="text-align: right;">
			<div class="date">{{ date }}<br>{{ time }}</div>
		</td>
	</tr>
</table>

<table class="time-table">
	<tr class="time-tr-head">
		<td class="time-td-head">Наименование лабораторной работы</td>
		<td class="time-td-head">Преподаватель</td>
		<td class="time-td-head">Дата/Время</td>
		<td class="time-td-head">Длительность</td>
		<td class="time-td-head">Статус</td>
		<td class="time-td-head">Методические материалы</td>
		<td class="time-td-head">Приступить к выполнению</td>
	</tr>
	{% for row in data %}
	<tr class="time-tr-body{{ row.course_state.id }}">
		<td class="time-td-body">Лабораторная работа №{{ row.course.name }}</td>
		<td class="time-td-body">{{ row.course.user.last_name }} {{ row.course.user.first_name }}</td>
		<td class="time-td-body">{{ row.course.last_date }}</td>
		<td class="time-td-body">{{ row.course.duration }}</td>
		<td class="time-td-body">{{ row.course_state.name }}</td>
		<td class="time-td-body">{% if row.course_state.id == 2 %}<a class="timetable-link" href="/method/{{ row.course.id }}/">Открыть</a>{% endif %}</td>
		<td class="time-td-body">{% if row.course_state.id == 2 %}<a class="timetable-link" href="/input_control/{{ row.course.id }}/1/">Приступить</a>{% endif %}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}