{% load main_tags %}
<script>
function sendRequesttable{{ ctl.id }}(url) {
$.ajax({
	url: url,
	success: function(data){
		for (var i = 0; i < data.Data.length; i++) {
			document.getElementById("table_{{ ctl.id }}_" + i).value = data.Data[i]
		}
	},
	error: function(data){
		alert('Нет ответа от стенда.');
	},
	type: "GET",
	dataType: "json"
	});
}
</script>

<h3>{{ ctl.name }}</h3>

<table>
{% for i in ctl.param1|column_range %}
<tr>
 <td><input type='text' id="table_{{ ctl.id }}_{{ i }}" name="table_{{ ctl.id }}_{{ i }}" value="" readonly></td>
</tr>
{% endfor %}
</table>
<div class="div-construct-submit" style="margin-top: 20px;" onClick="sendRequesttable{{ ctl.id }}('{{ url|safe }}{% if ctl.param2 %}&n={{ ctl.param2 }}{% endif %}');">{{ ctl.param3 }}</div>