{% load staticfiles %}
<link type="text/css" href="{% static 'js/formstyler/' %}jquery.formstyler.css" rel="stylesheet" />
<link type="text/css" href="{% static 'js/ui/' %}jquery-ui.css" rel="stylesheet" />

<script type="text/javascript" src="{% static 'js/' %}jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{% static 'js/' %}jquery-1.11.3.js"></script>
<script type="text/javascript" src="{% static 'js/ui/' %}jquery-ui.js"></script>
<script type="text/javascript" src="{% static 'js/ui/' %}jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static 'js/ui/' %}jquery-ui-i18n.min.js"></script>
<script type="text/javascript" src="{% static 'js/formstyler/' %}/jquery.formstyler.js"></script>

<script>
(function($) {
	$(function() {
		$('input, select').styler({
			selectSearch: true
		});
	});
})(jQuery);

function sendRequestbool(url) {
$(function(){
	$.ajax({
		url: url,
		success: function(data){
			
		},
		error: function(data){
			
		},
		type: "GET",
		dataType: "json"
		});
	});
}

function click_button(url, id) {
	if (document.getElementById("button_{{ ctl.id }}_" + id).value == 'on')
	{
		sendRequestbool(url + "write=false");
		document.getElementById("button_{{ ctl.id }}_" + id).className = "bool_switcher_off_small";
		document.getElementById("button_{{ ctl.id }}_" + id).value = "off";
	}
	else{
		sendRequestbool(url + "write=true");
		document.getElementById("button_{{ ctl.id }}_" + id).className = "bool_switcher_on_small";
		document.getElementById("button_{{ ctl.id }}_" + id).value = "on";
	}
}
</script>

<h3>{{ ctl.name|safe }}</h3>
<table onselectstart="return false">
	{% for i in "1234" %}
	<tr>
		{% for j in "12345" %}
		<td>
			<div class="bool_switcher_off_small" id="button_{{ ctl.id }}_{{ i }}{{ j }}" value="off" onClick="click_button('{{ url }}', '{{ i }}{{ j }}');"></div>
		</td>
		{% endfor %}
		<td>
			<input class="styler" type='text' size=5 style="height:30px;" id="table_{{ ctl.id }}_{{ ij }}" name="delay_{{ ctl.id }}_{{ i }}{{ j }}" value="">
		</td>
	</tr>
	{% endfor %}
</table>
<div class="div-construct-submit" style="margin-top: 20px; display: inline-block;">Отправить</div>