<script>
function sendRequestbool{{ ctl.id }}(url, state) {
	$(function(){
		$.ajax({
			url: url + "&write=" + state,
			success: function(data){
				if (data.Success == true) {
					if (state == "false"){
						document.getElementById("button_{{ ctl.id }}").className = "bool_switcher_off_light";
					}
					else{
						document.getElementById("button_{{ ctl.id }}").className = "bool_switcher_on_light";
					}
				}
			},
			error: function(data){

			},
			type: "GET",
			dataType: "json"
			});
		});
}

function click_button{{ ctl.id }}(url) {
	if (document.getElementById("button_{{ ctl.id }}").value == 'on')
	{
		document.getElementById("button_{{ ctl.id }}").className = "bool_switcher_off";
		document.getElementById("button_{{ ctl.id }}").value = "off";
		sendRequestbool{{ ctl.id }}(url, "false");
	}
	else{
		document.getElementById("button_{{ ctl.id }}").className = "bool_switcher_on";
		document.getElementById("button_{{ ctl.id }}").value = "on";
		sendRequestbool{{ ctl.id }}(url, "true");
	}
}
</script>

<h3>{{ ctl.name|safe }}</h3>
<div style="display: table-cell; vertical-align: middle;" onselectstart="return false" onmousedown="return false">
	<div class="bool_switcher_off" id="button_{{ ctl.id }}" value="off" onClick="click_button{{ ctl.id }}('{{ url }}');"></div>
</div>