<script>
function sendRequestbool(url) {
$(function(){
	$.ajax({
		url: url,
		success: function(data){
			
		},
		error: function(data){
			alert('Нет ответа от стенда.');
		},
		type: "GET",
		dataType: "json"
		});
	});
}

function click_button(url) {
	if (document.getElementById("button_{{ ctl.id }}").value == 'on')
	{
		sendRequestbool(url + "write=false");
		document.getElementById("button_{{ ctl.id }}").style.backgroundColor = "gray";
		document.getElementById("button_{{ ctl.id }}").value = "off";
	}
	else{
		sendRequestbool(url + "write=true");
		document.getElementById("button_{{ ctl.id }}").style.backgroundColor = "#ee9015";
		document.getElementById("button_{{ ctl.id }}").value = "on";
	}
}
</script>

<h3>{{ ctl.name }}</h3>
<span></span>
<div class="div-construct-submit" id="button_{{ ctl.id }}" value="off" onClick="click_button('{{ url }}');">Кнопка</div>
