<script>
function sendRequestDiargam{{ ctl.id }}(url) {
$(function(){
	$.ajax({
		url: url,
		success: function(data){
				$('#chart_container{{ ctl.id }}').highcharts({
				chart: {
					type: {% if ctl.param3 == 'diagram' %}'column'{% else %}'line'{% endif %}
				},
				title: {
					text: ''
				},
				xAxis: {
					title: {
						text: 'Время'
					}
				},
				yAxis: {
					title: {
						text: 'Влт'
					}
				},
				series: [{
					name: 'Напряжение',
					data: data.Data
					},]
				});
		},
		error: function(data){
			alert('Нет ответа от стенда.');
		},
		type: "GET",
		dataType: "json"
		});
	});
}
</script>

<h3>{{ ctl.name }}</h3>
<div id="chart_container{{ ctl.id }}" class="chart_container"></div>
<div class="div-construct-submit" style="margin-top: 20px;" onClick="sendRequestDiargam{{ ctl.id }}('{{ url }}&n={{ ctl.param1 }}');">Построить график</div>