<script>
function clear_value{{ ctl.id }}(){
	var xhr = new XMLHttpRequest();
	xhr.open('GET', "http://{{ host }}/clear_userfieldparam/{{ user.id }}/{{ ctl.id }}/", false);
	xhr.send();
}

function set_value{{ ctl.id }}(value){
	var xhr = new XMLHttpRequest();
	xhr.open('GET', "http://{{ host }}/set_userfieldparam/{{ user.id }}/{{ ctl.id }}/" + value + "/", false);
	xhr.send();
}

function sendRequestDiargam{{ ctl.id }}(url) {
$(function(){
	$.ajax({
		url: url,
		success: function(data){
			$('#chart_container{{ ctl.id }}').highcharts({
				chart: {
					type: {% if ctl.param3 == 'diagram' %}'column'{% else %}'line'{% endif %}
				},
				title: {
					text: ''
				},
				xAxis: {
					title: {
						text: '{{ ctl.param2|chart_x }}'
					}
				},
				yAxis: {
					title: {
						text: '{{ ctl.param2|chart_y }}'
					}
				},
				series: [{
					name: '{{ ctl.param2|chart_name }}',
					data: data.Data
					},]
				});
				clear_value{{ ctl.id }}();
				set_value{{ ctl.id }}(data.Data.join(';'));
		},
		error: function(data){
			alert('Нет ответа от стенда.');
		},
		type: "GET",
		dataType: "json"
		});
	});
	
}
</script>

<h3>{{ ctl.name }}</h3>
<div id="chart_container{{ ctl.id }}" class="chart_container"></div>
<div class="div-construct-submit" style="margin-top: 20px;" onClick="sendRequestDiargam{{ ctl.id }}('{{ url }}&n={{ ctl.param1 }}');">Построить график</div>
