<script>
function sendRequestonline{{ ctl.id }} (url) {
$(function () {
	$.ajax({
		url: url,
		success: function (data) {
			document.getElementById ("online_{{ ctl.id }}").value = data.Data
		},
		error: function (data) {},
		type: "GET",
		dataType: "json"
		});
	});
}

function startRead{{ ctl.id }}(){
	flag = document.getElementById("flag{{ ctl.id }}").value;
	sendRequestonline{{ ctl.id }} ('{{ url }}');
	if (flag == 'True')
	{
		setTimeout("startRead{{ ctl.id }}()",200);
	}
}

function read{{ ctl.id }} () {
	switcher = document.getElementById ("iterate_switcher{{ ctl.id }}");
	flag = document.getElementById ("flag{{ ctl.id }}");
	if (flag.value == 'True')
	{
		flag.value = 'False'
		switcher.className = "iterate_switcher_play";
	}
	else
	{
		flag.value = 'True'
		switcher.className = "iterate_switcher_stop";
		startRead{{ ctl.id }} ();
	}
}
</script>

<h3>{{ ctl.name }}</h3>
<div style="display: table-cell; vertical-align: middle;" onselectstart="return false" onmousedown="return false">	
	<input type='hidden' id="flag{{ ctl.id }}" name="flag{{ ctl.id }}" value="False">
	<div class="iterate_switcher_play" id="iterate_switcher{{ ctl.id }}" onClick="read{{ ctl.id }}();"></div>
	<input type='text' id="online_{{ ctl.id }}" name="online_{{ ctl.id }}" value="" readonly>
</div>