<script>
$(function() {
	setSelected{{ ctl.id }}();
});

function setSelected{{ ctl.id }}(){
	$.ajax({
		url: "{{ url }}",
		success: function(data){
			if (data.Success){
				document.getElementById("select_{{ ctl.id }}").selectedIndex = data.Data;
			}
		},
		error: function(data){
			alert('Нет ответа от стенда.');
		},
		type: "GET",
		dataType: "json"
	});
}

function sendRequestSelect{{ ctl.id }}(url) {
	$(function(){
		$.ajax({
			url: "{{ url }}" + "&write=" + document.getElementById("select_{{ ctl.id }}").value,
			success: function(data){
				setSelected{{ ctl.id }}();
			},
			error: function(data){
				alert('Нет ответа от стенда.');
			},
			type: "GET",
			dataType: "json"
		});
	});
}
</script>

<h3>{{ ctl.name }}</h3>
<label for="select_{{ ctl.id }}">Переключатель: </label>
<select id="select_{{ ctl.id }}" onChange="sendRequestSelect{{ ctl.id }}('{{ url }}');">
	{% for i in rows_select %}
	<option value="{{ i }}">Режим_{{ i }}</option>
	{% endfor %}
</select>
