<script>
function clear_value{{ ctl.id }}(){
	var xhr = new XMLHttpRequest();
	xhr.open('GET', "http://{{ host }}/clear_userfieldparam/{{ user.id }}/{{ ctl.id }}/", false);
	xhr.send();
}

function set_value{{ ctl.id }}(value){
	var xhr = new XMLHttpRequest();
	xhr.open('GET', "http://{{ host }}/set_userfieldparam/{{ user.id }}/{{ ctl.id }}/" + value + "/", false);
	xhr.send();
}

$(function() {
	$.ajax({
		url: "{{ url }}",
		success: function (data) {
			if (data.Success){
				setSelected{{ ctl.id }} (data.Data + "");
				if (data.Data == 0) {
					document.getElementById("switcher_{{ ctl.id }}_" + i).className = "switcher_left_on_light";
					
				}
				else if (data.Data == {{ ctl.param1|add:"-1" }}) {
					document.getElementById("switcher_{{ ctl.id }}_" + i).className = "switcher_right_on_light";
				}
				else
				{
					document.getElementById("switcher_{{ ctl.id }}_" + data.Data).className = "switcher_center_on_light";
				}
				clear_value{{ ctl.id }}();
				set_value{{ ctl.id }}(data.Data);
			}
			else {
				setSelected{{ ctl.id }} (0);
				clear_value{{ ctl.id }}();
				set_value{{ ctl.id }}(0);
			}
		},
		error: function (data) {
			setSelected{{ ctl.id }} (0);
			clear_value{{ ctl.id }}();
			set_value{{ ctl.id }}(0);
		},
		type: "GET",
		dataType: "json"
	});
});

function setSelected{{ ctl.id }} (id) {
	document.getElementById("select_id_{{ ctl.id }}").value = id;
	document.getElementById("switcher_value_{{ ctl.id }}").innerHTML = id
	for (var i = 0; i < {{ ctl.param1 }}; i++) {
		if (i == 0) {
			document.getElementById("switcher_{{ ctl.id }}_" + i).className = "switcher_left";
			
		}
		else if (i == {{ ctl.param1|add:"-1" }}) {
			document.getElementById("switcher_{{ ctl.id }}_" + i).className = "switcher_right";
		}
		else {
			document.getElementById("switcher_{{ ctl.id }}_" + i).className = "switcher_center";
		}
	}
	if (id == 0) {
		document.getElementById("switcher_{{ ctl.id }}_" + id).className = "switcher_left_on";
		document.getElementById("switcher_minus_{{ ctl.id }}").className = "switcher_minus";
		document.getElementById("switcher_plus_{{ ctl.id }}").className = "switcher_plus_on";
	}
	else if (id == {{ ctl.param1|add:"-1" }}) {
		document.getElementById("switcher_{{ ctl.id }}_{{ ctl.param1|add:"-1" }}").className = "switcher_right_on";
		document.getElementById("switcher_minus_{{ ctl.id }}").className = "switcher_minus_on";
		document.getElementById("switcher_plus_{{ ctl.id }}").className = "switcher_plus";
	}
	else {
		document.getElementById("switcher_{{ ctl.id }}_" + id).className = "switcher_center_on";
		document.getElementById("switcher_minus_{{ ctl.id }}").className = "switcher_minus_on";
		document.getElementById("switcher_plus_{{ ctl.id }}").className = "switcher_plus_on";
	}
}

function sendRequestSelect{{ ctl.id }} (id) {
	setSelected{{ ctl.id }} (id);
	$(function(){
		$.ajax({
			url: "{{ url }}" + "&write=" + id,
			success: function(data){
				clear_value{{ ctl.id }}();
				if (data.Success){
					if (id == 0) {
						document.getElementById("switcher_{{ ctl.id }}_" + id).className = "switcher_left_on_light";
						
					}
					else if (id == {{ ctl.param1|add:"-1" }}) {
						document.getElementById("switcher_{{ ctl.id }}_" + id).className = "switcher_right_on_light";
					}
					else{
						document.getElementById("switcher_{{ ctl.id }}_" + id).className = "switcher_center_on_light";
					}
					set_value{{ ctl.id }}(data.Data);
				}
			},
			error: function (data) {
				clear_value{{ ctl.id }}();
			},
			type: "GET",
			dataType: "json"
		});
	});
}

function minusSelect{{ ctl.id }} () {
	cur_id = document.getElementById("select_id_{{ ctl.id }}").value;
	if (Number(cur_id) > 0) {
		sendRequestSelect{{ ctl.id }} (Number(cur_id) - 1);
	}
}

function plusSelect{{ ctl.id }} () {
	cur_id = document.getElementById("select_id_{{ ctl.id }}").value;
	if (Number(cur_id) < {{ ctl.param1|add:"-1" }}) {
		sendRequestSelect{{ ctl.id }} (Number(cur_id) + 1);
	}
}

</script>

{% load main_tags %}
<h3>{{ ctl.name|safe }}</h3>
<input type='hidden' id="select_id_{{ ctl.id }}" name="select_id_{{ ctl.id }}" value="">
<div onselectstart="return false" onmousedown="return false">
	<ul class="ul_switcher">
		<li class="li_switcher">
			<div class="switcher_minus" id="switcher_minus_{{ ctl.id }}" onClick="minusSelect{{ ctl.id }}();"></div>
		</li>
		<li class="li_switcher">
			<div class="switcher_space"></div>
		</li>
		<li class="li_switcher">
			<div class="switcher_left" id="switcher_{{ ctl.id }}_0" onClick="sendRequestSelect{{ ctl.id }}('0');"></div>
		</li>   
		{% for i in ctl.param1|swicher_range %}
		<li class="li_switcher">
			<div class="switcher_center" id="switcher_{{ ctl.id }}_{{ i }}" onClick="sendRequestSelect{{ ctl.id }}('{{ i }}');"></div>
		</li>
		{% endfor %}
		<li class="li_switcher">
			<div class="switcher_right" id='switcher_{{ ctl.id }}_{{ ctl.param1|add:"-1" }}' onClick='sendRequestSelect{{ ctl.id }}("{{ ctl.param1|add:"-1" }}");'></div>
		</li>
		<li class="li_switcher">
			<div class="switcher_space"></div>
		</li>
		<li class="li_switcher">
			<div class="switcher_plus" id="switcher_plus_{{ ctl.id }}"  onClick="plusSelect{{ ctl.id }}();"></div>
		</li>
		<li class="li_switcher">
			<div class="switcher_space"></div>
		</li>
		<li class="li_switcher">
			<div class="switcher_value" id="switcher_value_{{ ctl.id }}"></div>
		</li>
	</ul>
</div>
