<h3>Текстовое поле</h3>
<span>Действенным способом подавления высших гармоник в электрических сетях является применение силовых резонансных фильтров.
Однако, при значительных мощностях выпрямительных агрегатов такой путь крайне затратен. Иное, более практичное решение состоит
в таком построении вентильного трансформатора, при котором, значительная несинусоидальность вторичных токов, не будет приводить
к несинусоидальности – первичных. Возможность такого пути заложена в уравнении МДС трансформатора (8.1). Так, для трехобмоточного трансформатора
</span>